<form action="/product" accept-charset="UTF-8" method="get">
  <div style="padding:5px">
  <label>Name: </label>
  <input type ="text"></br>
  </div>
  <div style="padding:5px">
  <label>Phone: </label>
  <input type ="text"></br>
  </div>
  <div style="padding:5px">
  <label>AddressLine1: </label>
  <input type ="text"></br>
  </div>
  <div style="padding:5px">
  <label>AddressLine2: </label>
  <input type ="text"></br>
  </div>
  <div>
  <label> City: </label>
  <input type ="text"></br>
  </div>
  <div style="padding:5px">
  <label> State: </label>
  <input type ="text"></br>
  </div>
  <input type = "submit">
</form>